
*{
   margin: 0;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
}
.perfil {
   margin-top: 5%;
   position: relative;
   margin-left: 2%;
   width: 50%;
   padding: auto;


}

h1{
  text-align: center;
}
.imagen{
  position: fixed;
  position: relative;
  left: 81%;
  margin-top: -2.5%;
}
.posisao{ 
  position: relative;
  margin-top: 5%;
  left: 5%;
}

.titulo{
   margin-top: 10%;
   font-size: 1.5em;
   margin-left: 20px;
   
}
.corpo{
         display: flex;
         flex-direction: center;
         padding-top: 5%;
         
       }
       
 
.barra{
  border-radius: 5px;
   margin: 5%;
   width: 15%;
   position: relative;
   left: 60%;
   margin-top: -7%;

}


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    text-align: left;
    padding: auto;
    left: 5.5%;
    position: relative;
  }

  tr:nth-child(even) {
    background-color: #c3dfff;
  }
  tr:hover {background-color: #21dbdb;}


         
        
      
