
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
 }
 
          
            
          table {
           font-family: arial, sans-serif;
           border-collapse: collapse;
           width: 100%;
         }
         
         td, th {
           text-align: left;
           padding: 8px;
         }
         
         tr:nth-child(even) {
           background-color: #c3dfff;
         }
         tr:hover {background-color: #21dbdb;}
       
 